# Redirect for transition from old site, and also to make life easier so people don't have to remember long URLS
# For Redirect line, escape all &s
RedirectMatch .* http://www.net-snmp.org/support/mailinglists.html

