/*
www.net-snmp.org

The layout for this page was [borrowed|stolen|abducted] from the kind
folks at the Layout Reservoir. http://www.bluerobot.com/web/layouts/

Here's the permission notice from the page on Oct 23, 2003:

Please feel free to borrow, steal, abduct, and/or torture the documents 
contained in the Layout Reservoir. Though you need not give credit to 
BlueRobot.com, a comment in your source code would help other developers 
to find this resource. Enjoy.
*/

table { 
  border: 2;
}

td {
  border: 2px;
  background: #d0d0ff;
  text-align: left;
  border-color: #44a;
}

th {
  border: 2px;
  text-align: left;
  border: solid;
  border-style: outset;
  background: #bbc;
  border-color: #44a;
}

table { 
  border: 2px;
  text-align: left;
  border: solid;
  border-style: outset;
  background: #bbb;
  border-color: #44a;
}

body {
  margin:0px;
  padding:0px;
  font-family:verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  color:#333;
  background-color:white;
}

pre{
  font-family:      "Courier New"
  Courier
  monospace;
  font-size: 1.1em;
}
        
h1 {
  margin:10px 0px 15px 0px;
  padding:0px;
  font-size:2.4em;
  line-height:1em;
  font-weight:900;
  color:#000;
}

h2{
  margin:10px 0px 15px 0px;
  padding:0px;
  font-size:2.0em;
  line-height:1em;
  font-weight:900;
  color:#000;
}

h3{
  margin:10px 0px 15px 0px;
  padding:0px;
  font-size:1.5em;
  line-height:1em;
  font-weight:900;
  color:#000;
}

h4{
  margin:10px 0px 15px 0px;
  padding:0px;
  font-size:1.3em;
  line-height:1em;
  font-weight:900;
  color:#000;
}
       
p {
  /* font:11px/20px verdana, arial, helvetica, sans-serif; */
  margin:0px 0px 1em 0px;
  padding:0px;
  line-height:125%;
}
/* #Content>p {margin:0px;}  */
/* #Content>p+p {text-indent:30px;}  */

a {
  color:#09c;
  font-size:1em;
  text-decoration:none;
  font-weight:600;
  font-family:verdana, arial, helvetica, sans-serif;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

#skip {
  display:none;
}

#Header {
  font-family: verdana,arial,serif; 
  font-size: 2.1em; 
  font-weight: bold;  
  margin:50px 0px 10px 0px;
  padding:0px 10px 0px 20px;
  /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
  height:40px; /* 14px + 17px + 2px = 33px */
  border-style:solid;
  border-color:black;
  border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
  line-height:11px;
  background-color:#eee;      
  
  /* Ugly brilliant hack removed - messed up Konqueror.  Just set height anyways otherwise ie6 messed up */
  height:40px; /* the correct height */
  background-repeat: repeat; 
}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#Header {height:40px;}

#Header2 {
  position:absolute;
  top:56px;
  left:10px;
  width:150px;
  /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
  height:30px; /* 14px + 17px + 2px = 33px */
}

#HeaderMap {
  position:absolute;
  top:51px;
  left:0px;
  width:100%;
}

#Content {
  margin:0px 50px 0px 180px;
  padding:10px;
}
       
#LeftSide {
  position:absolute;
  top:100px;
  left:20px;
  width:172px;
  line-height:17px;
/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
  voice-family: "\"}\"";
  voice-family:inherit;
  width:150px;
}
/* Again, "be nice to Opera 5". */
body>#LeftSide {width:150px;}

#Menu {
  padding:10px;
  background-color:#eee;
  border:1px dashed #999;
  font-size: 0.8em;
}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}

#MenuSub table { 
  border: 0;
  background: #eee;
  font-weight:600;
  font-family:verdana, arial, helvetica, sans-serif;
  color:#09c;
}

#MenuSub td {
  border: 0;
  line-height:1em;
  background: #eee;
  vertical-align:top
}

#MenuSFLogo {
  padding:10px;
}
/* Again, "be nice to Opera 5". */
body>#MenuSFLogo {width:150px;}

#ListSearch {
  padding:10px;
  background-color:#fafafa;
  border:1px dashed #999;
  font-size: 0.8em;
}
/* Again, "be nice to Opera 5". */
body>#ListSearch {width:150px;}

#SiteSearch {
  padding:10px;
  background-color:#fafafa;
  border:1px dashed #999;
  font-size: 0.8em;
}
/* Again, "be nice to Opera 5". */
body>#SiteSearch {width:150px;}

#ModificationDate {
  margin:0px 50px 20px 200px;
}

#PlainTable table { 
  border: 0;
  background: #fff;
}

#PlainTable td {
  border: 0;
  line-height:1em;
  background: #fff;
  vertical-align:top
}


.Copyright { font-family: verdana,arial,serif; font-size: 1em;}
.Email { font-family: verdana,arial,serif; font-size: 0.85em;}

.NewsItem { font-family: verdana,arial,serif; font-size: 1em; }
.NewsItemUrgent { font-family: verdana,arial,serif; font-size: 1em; background-color: #ccff99;}
.NewsItemDate { font-family: verdana,arial,serif; font-size: 1em; font-weight: bold; }

.SectionTitle { font-family: verdana,arial,serif; font-size: 1.2em; font-weight: bold; text-decoration: underline;}
.SectionBody { font-family: verdana,arial,serif; font-size: 1em; }

.ModificationDate { font-family: verdana,arial,serif; font-size: 0.9em; }

.HeaderSmall { font-family: verdana,arial,serif; font-size: 0.50em;}

