# See also https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions

name: Build and test

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            mode: regular
          - os: ubuntu-latest
            mode: developer
          - os: ubuntu-latest
            mode: disable-ipv6
          - os: ubuntu-latest
            mode: disable-set
          - os: ubuntu-latest
            mode: mini
          - os: ubuntu-latest
            mode: read-only
          - os: ubuntu-latest
            mode: without-nl
          - os: ubuntu-latest
            mode: wolfssl
          - os: ubuntu-latest
            mode: Android
          - os: macos-latest
            mode: regular

    env:
      MODE: ${{ matrix.mode }}

    steps:
    - uses: actions/checkout@main

    - name: install required packages
      run: sudo bash -c "MODE=$MODE ci/install.sh"

    - name: build
      run: ci/build.sh

    - name: test
      run: ci/test.sh
